@using Project.Enums
@model AdminViewModel
@{
	ViewData["Title"] = "Admin контролен панел";
}

<style>
	.income a { color: #333; text-decoration: none; }
	.income-amount { font-weight: bold; }
	.income .col-6:nth-child(1) .income-amount { color: #28a745; }
	.income .col-6:nth-child(2) .income-amount { color: #ffc107; }
	.income .col-6:nth-child(3) .income-amount { color: #dc3545; }
	.income .col-6:nth-child(4) .income-amount { color: purple; }

	@@media all and (max-width: 1415px) {
		.card-body .col-md-3 {
			width: 50%;
		}
	}

	@@media all and (max-width:560px) {
		.card-body .col-md-3 {
			width: 100%;
		}
	}
</style>

<div class="container-fluid p-0">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="h3 mb-3">@ViewData["Title"]</h1>
					<h6 class="card-subtitle text-muted">Основна информация</h6>
				</div>
				<div class="card-body text-center">
					<div class="mb-3">
						<div class="row">
							<div class="col-md-3">
								<div class="card blue shadow-extra">
									<a href="/Admin/Users">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-users"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.UsersCount</h1>
													<h5>Потребители</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card purple shadow-extra">
									<a href="/Admin/Announcements">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-bullhorn"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.AnnouncementsCount</h1>
													<h5>Системни съобщения</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card green shadow-extra">
									<a href="/Admin/VPSs">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-server"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.VPSsCount</h1>
													<h5>Сървъри</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card orange shadow-extra">
									<a href="/Admin/Orders">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-file-invoice-dollar"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.OrdersCount</h1>
													<h5>Поръчки</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3 ">
								<div class="card aqua shadow-extra">
									<a href="/Admin/Codes">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-percentage"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.PromoCodesCount</h1>
													<h5>Промо кодове</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3 ">
								<div class="card red shadow-extra">
									<a href="/Admin/Tickets">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-ticket-alt"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.TicketsCount</h1>
													<h5>Билети</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3 ">
								<div class="card lime shadow-extra">
									<a href="/Admin/Plans">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-clipboard-list"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.PlansCount</h1>
													<h5>Планове</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3 ">
								<div class="card yellow shadow-extra">
									<a href="/Admin/Message/Send">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-comment"></i>
													</div>
												</div>
												<div class="col-8">
													<h3>Ново съобщение</h3>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="card-body">
					
				</div>
			</div>
		</div>
		<div class="income col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="card-header">
					<h3>Доходи</h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-6">
							<div class="card shadow-extra">
								<a href="/Admin/Orders?From=Today">
									<div class="card-body">
										<h3 class="income-amount">@Model.DailyIncome.ToString("F2")лв.</h3>
										за днес
									</div>
								</a>
							</div>
						</div>
						<div class="col-6">
							<div class="card shadow-extra">
								<a href="/Admin/Orders?From=ThisMonth">
									<div class="card-body">
										<h3 class="income-amount">@Model.MonthlyIncome.ToString("F2")лв.</h3>
										за този месец
									</div>
								</a>
							</div>
						</div>
						<div class="col-6">
							<div class="card shadow-extra">
								<a href="/Admin/Orders?From=ThisYear">
									<div class="card-body">
										<h3 class="income-amount">@Model.YearlyIncome.ToString("F2")лв.</h3>
										за тази година
									</div>
								</a>
							</div>
						</div>
						<div class="col-6">
							<div class="card shadow-extra">
								<a href="/Admin/Orders?From=AllTime">
									<div class="card-body">
										<h3 class="income-amount">@Model.TotalIncome.ToString("F2")лв.</h3>
										през цялото време
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>