@using Project.Enums
@model AdminViewModel
@{
	ViewData["Title"] = "Admin контролен панел";
}

<style>
	.card.blue { background-color: #3b7ddd; }
	.card.green { background-color: #28a745; }
	.card.yellow { background-color: #ffc107; }
	.card.red { background-color: #dc3545; }
	.card.purple { background-color: purple; }
	.card.aqua { background-color: #0cc; }

	.card.blue,
	.card.green,
	.card.yellow,
	.card.red,
	.card.purple,
	.card.aqua
	{ color: #fff; }

	.card.blue h1,
	.card.green h1,
	.card.yellow h1,
	.card.red h1,
	.card.purple h1,
	.card.aqua h1
	{ color: #fff; }

	.card.blue h5,
	.card.green h5,
	.card.yellow h5,
	.card.red h5,
	.card.purple h5,
	.card.aqua h5
	{ color: #fff; }

	.circle {
		background-color: rgba(0, 0, 0, .25);
		border-radius: 50%;
		width: 75px;
		height: 75px;
	}
	.circle i { margin-top: 22.5%; }

	.card.blue a,
	.card.green a,
	.card.yellow a,
	.card.red a,
	.card.purple a,
	.card.aqua a
	{ color: #fff; text-decoration: none; }
	
	.income-amount { font-weight: bold; }
	.income .col-6:nth-child(1) .income-amount { color: #28a745; }
	.income .col-6:nth-child(2) .income-amount { color: #ffc107; }
	.income .col-6:nth-child(3) .income-amount { color: #dc3545; }
	.income .col-6:nth-child(4) .income-amount { color: purple; }

	.shadow-extra {
		box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .25) !important;
	}

	@@media all and (max-width: 1415px) {
		.card-body .col-md-3 {
			width: 50%;
		}
	}

	@@media all and (max-width:560px) {
		.card-body .col-md-3 {
			width: 100%;
		}
	}
</style>

<div class="container-fluid p-0">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="h3 mb-3">@ViewData["Title"]</h1>
					<h6 class="card-subtitle text-muted">Основна информация</h6>
				</div>
				<div class="card-body text-center">
					<div class="mb-3">
						<div class="row">
							<div class="col-md-3">
								<div class="card blue">
									<a href="/Admin/Users">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-users"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.UsersCount</h1>
													<h5>Потребители</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card purple">
									<a href="/Admin/Announcements">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-bullhorn"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.AnnouncementsCount</h1>
													<h5>Системни съобщения</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card green">
									<a href="/Admin/VPSs">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-server"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.VPSsCount</h1>
													<h5>Сървъри</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card yellow">
									<a href="/Admin/Orders">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-file-invoice-dollar"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.OrdersCount</h1>
													<h5>Поръчки</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3 ">
								<div class="card aqua">
									<a href="/Admin/Codes">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-percentage"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.PromoCodesCount</h1>
													<h5>Промо кодове</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3 ">
								<div class="card red">
									<a href="/Admin/Tickets">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-ticket-alt"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.TicketsCount</h1>
													<h5>Квитанции</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid p-0">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="card-body">
					
				</div>
			</div>
		</div>
		<div class="income col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="card-header">
					<h3>Доходи</h3>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-6">
							<div class="card shadow-extra">
								<div class="card-body">
									<h3 class="income-amount">@Model.DailyIncome.ToString("F2")лв.</h3>
									за днес
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="card shadow-extra">
								<div class="card-body">
									<h3 class="income-amount">@Model.MonthlyIncome.ToString("F2")лв.</h3>
									за този месец
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="card shadow-extra">
								<div class="card-body">
									<h3 class="income-amount">@Model.YearlyIncome.ToString("F2")лв.</h3>
									за тази година
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="card shadow-extra">
								<div class="card-body">
									<h3 class="income-amount">@Model.TotalIncome.ToString("F2")лв.</h3>
									през цялото време
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>