@model VPSsViewModel
@{
	ViewData["Title"] = "Сървъри";
	ViewData["PaginationUrl"] = "/VPS";
	ViewData["Page"] = Model.Page;
	ViewData["Pages"] = Model.Pages;
	ViewData["Show"] = Model.Show;
}

<style>
	select.form-control { text-align: center; }
	.pagination { justify-content: center; }
</style>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<a class="btn btn-outline-info" href="/Account"><i class="fas fa-chevron-left"></i> Назад</a>
				<h1 class="h3 mb-3">@ViewData["Title"]</h1>
				<h6 class="card-subtitle text-muted">Общо XX</h6>
				<span class="badge bg-success">На линия - X</span>
				<span class="badge bg-secondary">Извън линия - X</span>
				<span class="badge bg-danger">Неочакван срив - X</span>
				<span class="badge bg-warning">В ремонт - X</span>
			</div>
			<div class="card-body text-center">
				<div class="container-fluid p-0">
					<div class="row">
						<div class="card-body">
							<table id="datatables-reponsive" class="table table-striped" style="width:100%">
								<thead>
									<tr>
										<th>Име на сървъра</th>
										<th>План</th>
										<th>Локация</th>
										<th>IP Адрес</th>
										<th>OS</th>
										<th>RAM Памет</th>
										<th>Пространство</th>
										<th>Управление</th>
									</tr>
								</thead>
								<tbody>
									@foreach (VPSViewModel vps in Model.VPSs) {
										<tr>
											<td>@vps.Name</td>
											<td>@vps.Plan.Name</td>
											<td>@vps.Location.ToString().Replace("_", ", ")</td>
											<td>-</td>
											<td>-</td>
											<td>@vps.RAM GB</td>
											<td>@vps.SSD GB</td>
											<td>
												<div class="btn-group">
													<button class="btn btn-success" type="button">
														<i class="fas fa-play-circle"></i>
													</button>
													<button class="btn btn-warning" type="button">
														<i class="fas fa-undo-alt"></i>
													</button>
													<button class="btn btn-danger" type="button">
														<i class="fas fa-power-off"></i>
													</button>
												</div>
												<a href="/VPS/Manage?Id=@vps.Id">
													<button class="btn btn-primary">Контрол</button>
												</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			@if (Model.Total > 0) {
				<div class="card-actions">
					<partial name="_Pagination" />
				</div>
			}
		</div>
	</div>
</div>