@model VPSViewModel
@{
	ViewData["Title"] = Model.Name;
	ViewData["Back"] = "/VPS";
	if (ViewData["Admin"] != null)
		ViewData["Back"] = $"/Admin{ViewData["Back"]}s";
}

<style>
	#reinstall .col-12 .col-3,
	#reinstall .col-12 .col-4 {
		display: inline-block !important;
	}
	.distro {
		transition: all .15s ease-in-out;
		cursor: pointer;
	}
	.distro.active { background-color: #4287f5; }
	.distro.active h4,
	.distro.active h6
	{ color: #fff !important; }
</style>

<div id="manage" class="row">
	<div>
		<a class="btn btn-outline-info" href="@ViewData["Back"]"><i class="fas fa-chevron-left"></i> Назад</a>
	</div>
	<h1 class="text-center">@ViewData["Title"]</h1>
	@if (ViewData["Admin"] != null) {
		<h5 class="text-center text-muted">
			Собственик: 
			@if (@Model.Username == "{{DELETED}}") {
				<span>« Изтрит »</span>
			} else {
				<a href="/Admin/User?UserName=@Model.Username">@Model.Username</a>
			}
		</h5>
	} else {
		<p class="lead text-center mb-4">Контрол и детайли на Вашият VPS сървър</p>	
	}
	<hr>
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="card">
			<div class="card-header pb-0">
				<div class="row justify-content-center">
					<div class="col-auto">
						<div class="btn-group p-1">
							<button class="btn btn-primary">CPU</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body pt-0">
				<canvas id="cpu-stats" style="display: block;" class="chartjs-render-monitor"></canvas>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="card">
			<div class="card-header pb-0">
				<div class="row justify-content-center">
					<div class="col-auto">
						<div class="btn-group p-1">
							<button class="btn" :class="{ 'btn-primary': discChart == 0, 'btn-outline-primary': discChart != 0 }" @@click="discChart = 0;">Дисков трансфер</button>
							<button class="btn" :class="{ 'btn-primary': discChart == 1, 'btn-outline-primary': discChart != 1 }" @@click="discChart = 1;">Дискови операции</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body pt-0">
				<canvas id="disc-transfer" class="chartjs-render-monitor" :class="{ 'd-block': discChart == 0, 'd-none': discChart != 0 }"></canvas>
				<canvas id="disc-operations" class="chartjs-render-monitor" :class="{ 'd-block': discChart == 1, 'd-none': discChart != 1 }"></canvas>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="card">
			<div class="card-header pb-0">
				<div class="row justify-content-center">
					<div class="col-auto">
						<div class="btn-group p-1">
							<button class="btn" :class="{ 'btn-primary': networkChart == 0, 'btn-outline-primary': networkChart != 0 }" @@click="networkChart = 0;">Мрежов трансфер</button>
							<button class="btn" :class="{ 'btn-primary': networkChart == 1, 'btn-outline-primary': networkChart != 1 }" @@click="networkChart = 1;">Мрежови пакети</button>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body pt-0">
				<canvas id="network-transfer" class="chartjs-render-monitor" :class="{ 'd-block': networkChart == 0, 'd-none': networkChart != 0 }"></canvas>
				<canvas id="network-packets" class="chartjs-render-monitor" :class="{ 'd-block': networkChart == 1, 'd-none': networkChart != 1 }"></canvas>
			</div>
		</div>
	</div>
	<hr>
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-sm-12 col-md-4 col-lg-4">
				<div class="card h-100">
					<div class="card-header">
						<h3 class="mb-0">Контрол</h3>
					</div>
					<div class="card-body">
						<div>
							<div class="text-center">
								<button class="btn btn-outline-success" @@click="powerOn('powerOn');"><i class="fas fa-play-circle"></i> Старт</button>
								<button class="btn btn-outline-danger" @@click="powerOn('shutdown');"><i class="fas fa-power-off"></i> Изключване</button>
								<button class="btn btn-outline-info" @@click="powerOn('reboot');"><i class="fas fa-undo-alt"></i> Рестарт</button>
							</div>
							<hr>
							<div class="text-center">
								<h3 class="text-danger mb-3">Възможна е загуба на данни!</h3>
								<button class="btn btn-pinterest" @@click="powerOn('reset');"><i class="fas fa-redo-alt"></i> Ресет</button>
								<button class="btn btn-pinterest" @@click="powerOn('powerOff');"><i class="fas fa-stop-circle"></i> Стоп</button>
							</div>
						</div>
					</div>
					<hr>
					<div class="card-header">
						<h3 class="mb-0">Хронология</h3>
					</div>
					<div class="card-body">
						<div class="list-group">
							<a href="#" class="list-group-item">
								<div class="row g-0 align-items-center">
									<div class="col-2">
										<i class="text-danger" data-feather="alert-circle"></i>
									</div>
									<div class="col-10">
										<div class="text-dark">Update completed</div>
										<div class="text-muted small mt-1">Restart server 12 to complete the update.</div>
										<div class="text-muted small mt-1">30m ago</div>
									</div>
								</div>
							</a>
							<a href="#" class="list-group-item">
								<div class="row g-0 align-items-center">
									<div class="col-2">
										<i class="text-warning" data-feather="bell"></i>
									</div>
									<div class="col-10">
										<div class="text-dark">Lorem ipsum</div>
										<div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate hendrerit et.</div>
										<div class="text-muted small mt-1">2h ago</div>
									</div>
								</div>
							</a>
							<a href="#" class="list-group-item">
								<div class="row g-0 align-items-center">
									<div class="col-2">
										<i class="text-primary" data-feather="home"></i>
									</div>
									<div class="col-10">
										<div class="text-dark">Login from 192.186.1.8</div>
										<div class="text-muted small mt-1">5h ago</div>
									</div>
								</div>
							</a>
							<a href="#" class="list-group-item">
								<div class="row g-0 align-items-center">
									<div class="col-2">
										<i class="text-success" data-feather="user-plus"></i>
									</div>
									<div class="col-10">
										<div class="text-dark">New connection</div>
										<div class="text-muted small mt-1">Christina accepted your request.</div>
										<div class="text-muted small mt-1">14h ago</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-8 col-lg-8"> 
				<div class="card h-100">
					<div class="card-header pb-0">
						<ul class="nav nav-tabs" role="tablist">
							<template v-for="[ tab, title ] in Object.entries(tabs)">
								<li class="nav-item">
									<a class="nav-link" :class="{ 'active': currentTab == tab }" @@click="currentTab = tab" v-html="title"></a>
								</li>
							</template>
						</ul>
					</div>
					<div class="card-body">
						<div :class="{ 'd-block': currentTab == 'overview', 'd-none': currentTab != 'overview' }">
							<partial name="/Views/VPS/ManageTabs/Overview.cshtml">
						</div>
						<div :class="{ 'd-block': currentTab == 'reinstall', 'd-none': currentTab != 'reinstall' }">
							<partial name="/Views/VPS/ManageTabs/Reinstall.cshtml">
						</div>
						<div :class="{ 'd-block': currentTab == 'password', 'd-none': currentTab != 'password' }">
							<partial name="/Views/VPS/ManageTabs/Password.cshtml">
						</div>
						<div :class="{ 'd-block': currentTab == 'rescue', 'd-none': currentTab != 'rescue' }">
							<partial name="/Views/VPS/ManageTabs/Rescue.cshtml">
						</div>
						<div :class="{ 'd-block': currentTab == 'network', 'd-none': currentTab != 'network' }">
							<partial name="/Views/VPS/ManageTabs/Network.cshtml">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	let setupData = () => {
		manage.serverId = "@Model.Id";
		manage.controlUrl = "@(Context.Request.Path.ToString().ToLower().Contains("admin") ? "/Admin/" : "/")VPS/Control";
		delete setupData;
	}
</script>
<script type="module" src="/js/vps/manage.js" onload="setupData();"></script>
<script type="module" src="/js/charts/vps/charts.js"></script>