@inject SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
	public string XsrfToken() => Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
}
@{
	var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<style>
	#logout input {
		background: none;
		border: none;
		color: inherit;
		padding: 0;
		width: 100%;
		text-align: left;
	}
</style>

<ul class="nav nav-pills flex-column">
	<li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Профил</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Имейл</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Парола</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Лични Данни</a></li>
	<li class="nav-item">
		<a class="nav-link" id="logout">
			<form action="/Identity/Account/Logout?returnUrl=/" method="POST">
				<input type="submit" value="Изход">
				<input type="hidden" name="__RequestVerificationToken" value="@XsrfToken()" />
			</form>
		</a>
	</li>
</ul>
