@model PlansViewModel
@{
	ViewData["Title"] = "Планове";
	ViewData["PaginationUrl"] = "/Admin/Plans";
	ViewData["Page"] = Model.Page;
	ViewData["Pages"] = Model.Pages;
	ViewData["Show"] = Model.Show;
}

<style>
	.pagination { justify-content: center; }
</style>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<a class="btn btn-outline-info" href="/Admin"><i class="fas fa-chevron-left"></i> Назад</a>
				<div class="row">
					<div class="col-md-2">
						Брой: @Model.Total
					</div>
				</div>
				<div class="row">
					<div class="col-auto">
						<label>Планове на страница</label>
						<select class="form-control" asp-for="Show" onchange="location.href = '/Admin/Plans?Page=1&Show=' + this.value;">
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="40">40</option>
						</select>
					</div>
				</div>
			</div>
			<hr />
			<div class="card-body text-center">
				<div class="container-fluid p-0">
					<div class="row">
						<div class="col-12">
							@if (Model.Total == 0) {
								<h3>За момента няма потребители.</h3>
							} else {
								<table id="datatables-reponsive" class="table table-striped" style="width:100%">
									<thead>
										<tr>
											<th>Име</th>
											<th>Ядра</th>
											<th>Оперативна памет</th>
											<th>Пространство</th>
											<th>Цена</th>
											<th>Контрол</th>
										</tr>
									</thead>
									<tbody>
										@foreach (PlanViewModel plan in Model.Plans) {
											<tr>
												<td>@plan.Name</td>
												<td>@plan.Cores</td>
												<td>@plan.RAM GB</td>
												<td>@plan.SSD GB</td>
												<td>@plan.Price.ToString("F2")лв.</td>
												<td>
													<a href="/Admin/Plan?Number=@plan.Number" class="btn btn-primary"><i class="fas fa-eye"></i></a>
													<a href="/Admin/Plan/Remove?Id=@plan.Number" class="btn btn-danger"><i class="fas fa-times"></i></a>
												</td>
											</tr>
										}
									</tbody>
								</table>
							}
						</div>
					</div>
				</div>
			</div>
			@if (Model.Total > 0)
			{
				<div class="card-actions">
					<partial name="/Views/Shared/_Pagination.cshtml" />
				</div>
			}
		</div>
	</div>
</div>