@using Project.Enums
@model AccountViewModel
@{
	ViewData["Title"] = "Профил";
}

<style>
	@@media all and (max-width: 1415px) { .card-body .col-md-3 { width: 50%; } }
	@@media all and (max-width:560px) { .card-body .col-md-3 { width: 100%; } }
</style>

<div class="container-fluid p-0">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<a class="btn btn-outline-info" href="/Panel"><i class="fas fa-chevron-left"></i> Назад</a>
					<h1 class="h3 mb-3">@ViewData["Title"]</h1>
					<h6 class="card-subtitle text-muted">Основна информация</h6>
				</div>
				<div class="card-body text-center">
					<div class="mb-3">
						<div class="row">
							<div class="col-md-3">
								<div class="card blue shadow-extra">
									<a href="/VPS">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-server"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.VPSCount</h1>
													<h5>Сървър@(@Model.VPSCount == 1 ? "" : "а")</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card green shadow-extra">
									<a href="/Order/List">
										<div class="card-body">
											<div class="row">
												<div class="col-4">
													<div class="circle">
														<i class="fa fa-3x fa-file-invoice-dollar"></i>
													</div>
												</div>
												<div class="col-8">
													<h1>@Model.OrdersCount</h1>
													<h5>Поръчк@(@Model.OrdersCount == 1 ? "а" : "и")</h5>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-3 ">
								<div class="card yellow shadow-extra">
									<div class="card-body">
										<div class="row">
											<div class="col-4">
												<div class="circle">
													<i class="fa fa-3x fa-piggy-bank"></i>
												</div>
											</div>
											<div class="col-8">
												<h1>@Model.TotalInvestments.ToString("F2")лв.</h1>
												<h5>Общо инвестиции</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card red shadow-extra">
									<div class="card-body">
										<div class="row">
											<div class="col-4">
												<div class="circle">
													<i class="fa fa-3x fa-money-bill-wave"></i>
												</div>
											</div>
											<div class="col-8">
												<h1>@Model.MonthlyBill.ToString("F2")лв.</h1>
												<h5>Месечна сметка</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="h3 mb-3">Последни поръчки (<a href="/Order/List">Виж всички</a>)</h1>
					<h6 class="card-subtitle text-muted">Общо @Model.OrdersCount</h6>
					<span class="badge bg-primary">Записани - @Model.CreatedOrders</span>
					<span class="badge bg-info">В процес на обработка - @Model.AwaitingOrders</span>
					<span class="badge bg-success">Завършени - @Model.FinishedOrders</span>
					<span class="badge bg-danger">Провалени - @Model.FailedOrders</span>
					<span class="badge bg-warning">Отказани - @Model.CancelledOrders</span>
					<span class="badge bg-warning">Изтекли - @Model.ExpiredOrders</span>
				</div>
				<div class="card-body text-center">
					@if (Model.OrdersCount == 0) {
						<h3>За момента нямате поръчки.</h3>
					} else {
						<table id="datatables-reponsive" class="table table-striped" style="width:100%">
							<thead>
								<tr>
									<th>Време на поръчката</th>
									<th>Завършена на</th>
									<th>План</th>
									<th>Състояние</th>
									<th>Действие</th>
								</tr>
							</thead>
							<tbody>
								@foreach (OrderViewModel order in Model.Orders) {
									<tr>
										<td>@order.TimeStarted</td>
										<td>@(order.TimeFinished.Year == 1 ? "-" : order.TimeFinished.ToString())</td>
										<td>@order.Plan.Name</td>
										<td>
											@(new Func<string>(() => {
												switch(order.State) {
													case OrderState.Created: return "Запазена";
													case OrderState.Awaiting: return "В процес на обработка";
													case OrderState.Finished: return "Завършена";
													case OrderState.Failed: return "Провалена";
													case OrderState.Cancelled: return "Отказана";
													case OrderState.Expired: return "Изтекла";
												}
												return "Неизвестен";
											}).Invoke())
										</td>
										<td>
											@if (order.State == OrderState.Created) {
												<a class="btn btn-outline-info" href="/Order/Details?OrderId=@order.Id">Довърши поръчката</a>
											} else {
												<a class="btn btn-outline-primary" href="/Order/Details?OrderId=@order.Id">Преглед на поръчката</a>
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
				</div>
			</div>
		</div>
	</div>
</div>